.Color[value = "Red"]{
    color: red;
}
.Color[value = "Yelllow"]{
    color: yellow;
    outline-color: black;
    text-align: center;
    text-decoration: ;
}
.Color[value = "Blue"]{
    color: blue;
}
img{
    width: 200px;
    height: 200px;
}