
.page1[value = "title"]{
    text-align: center;
    color: aliceblue;
    text-decoration-line: underline;
    font-family: "Averia Serif Libre", serif;
}
img{
    display: block;
    margin: 0 auto;

}
*{
    background-color: black;
}
.page1[value = "paragraph"]{
    color: aliceblue;
    text-align: center;
    font-family: "Averia Serif Libre", serif;
}
